<aside class="tsd-sources">
    {{#if implementationOf}}
        <p>Implementation of {{#with implementationOf}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if inheritedFrom}}
        <p>Inherited from {{#with inheritedFrom}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if overwrites}}
        <p>Overwrites {{#with overwrites}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if sources}}
        <ul>
            {{#each sources}}
                {{#if url}}
                    <li>Defined in <a href="{{url}}">{{fileName}}:{{line}}</a></li>
                {{else}}
                    {{!--MONACO_CHANGE
                    <li>Defined in {{fileName}}:{{line}}</li>
                    MONACO_CHANGE--}}
                    <li>Defined in <a href="https://github.com/Microsoft/monaco-editor/blob/master/monaco.d.ts#L{{line}}">{{fileName}}:{{line}}</a></li>
                {{/if}}
            {{/each}}
        </ul>
    {{/if}}
</aside>